html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.products {
    width: 80%;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 32px;
        color: rgb(5, 5, 78);
    }

    &__inner {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 300px;
        margin: 10px;
    }

    &__item-photo {
        width: 100%;
        height: 180px;
        margin-bottom: 25px;
        object-fit: contain;
        border-radius: 5px;
    }

    &__item-info {

        header {
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 5px;
            border-bottom: 2px solid #ccc;
        }

        h3 {
            margin: 0;
            font-size: 15px;
        }
    }

    &__item-text {
        font-size: 15px;
        line-height: 1.4;
    }

    &__btn {
        width: 60%;
        margin: 60px auto;
    }

    &__filters-btn {
        margin: 20px;
        width: 180px;
        height: 60px;
        font-size: 26px;
        color: rgb(4, 17, 77);
        border-radius: 25px;
        background-color: rgb(149, 240, 172);
    }
}
